development:
  partner_id: 123
  subpartner_id: 12300
  ui_conf_id: 12301
  secret: dsadij8223d3r8938hfsoha9w7g39g32
  staging: true

test:
  partner_id: 123
  subpartner_id: 12300
  ui_conf_id: 12301
  secret: dsadij8223d3r8938hfsoha9w7g39g32
  staging: true

production:
  partner_id: 123
  subpartner_id: 12300
  ui_conf_id: 12301
  secret: dsadij8223d3r8938hfsoha9w7g39g32
  staging: false