development:
  partner_id: 123
  subpartner_id: 12300
  secret: dsadij8223d3r8938hfsoha9w7g39g32

test:
  partner_id: 123
  subpartner_id: 12300
  secret: dsadij8223d3r8938hfsoha9w7g39g32

production:
  partner_id: 123
  subpartner_id: 12300
  secret: dsadij8223d3r8938hfsoha9w7g39g32
